<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{HH:mm:ss.SSS} %-5level %logger{80} - %msg%n</Pattern>
		</encoder>
	</appender>
	<appender name="fileAppender" class="ch.qos.logback.core.FileAppender">  
	    <file>../logs/v9log.log</file>  
	    <encoder><!-- 必须指定，否则不会往文件输出内容 -->  
	        <pattern>%d{HH:mm:ss.SSS} %-5level %logger{80} - %msg%n</pattern>  
	    </encoder>  
	    <append>true</append>  
	    <prudent>false</prudent>  
	</appender>  
	<root>
		<level value="ERROR" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>

